Selecting entries in pandas involves extracting specific rows and columns from Series or DataFrames based on labels or conditions. This is a fundamental operation for data analysis and manipulation.

Label-Based Indexing: You can select entries by their labels using .loc[] for both rows and columns.
Integer-Based Indexing: You can select entries by their integer positions using .iloc[].
Conditional Selection: You can filter entries based on conditions using boolean indexing.

# Label-Based Indexing with .loc[]:

In [1]:
import pandas as pd
# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})

# Selecting rows and columns by label
print("Selecting by label with .loc[]:")
print(df.loc[0:2, ['Name', 'City']])

Selecting by label with .loc[]:
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

# Integer-Based Indexing with .iloc[]:

In [2]:
# Selecting rows and columns by integer position
print("\nSelecting by integer position with .iloc[]:")
print(df.iloc[1:3, 0:2])

Selecting by integer position with .iloc[]:
      Name  Age
1      Bob   27
2  Charlie   22

# Conditional Selection:

In [3]:
# Selecting entries based on a condition
print("\nSelecting entries where Age > 25:")
print(df[df['Age'] > 25])

# Combining multiple conditions
print("\nSelecting entries where Age > 25 and City is 'Los Angeles':")
print(df[(df['Age'] > 25) & (df['City'] == 'Los Angeles')])

Selecting entries where Age > 25:
    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston

Selecting entries where Age > 25 and City is 'Los Angeles':
  Name  Age         City
1  Bob   27  Los Angeles

# Using .at[] and .iat[] for Fast Access:

In [4]:
# Accessing a single value by label with .at[]
print("\nAccessing a single value by label with .at[]:")
print(df.at[1, 'Name'])

# Accessing a single value by integer position with .iat[]
print("\nAccessing a single value by integer position with .iat[]:")
print(df.iat[2, 1])

Accessing a single value by label with .at[]:
Bob

Accessing a single value by integer position with .iat[]:
22